<footer class="u-clearfix u-custom-color-1 u-footer u-footer" id="sec-bbc2">
    <div class="u-social-icons u-spacing-11 u-social-icons-1">
        <a class="u-social-url" title="facebook" target="_blank"
           href="https://www.facebook.com/AwesomeTestingBlog"><span
                class="u-file-icon u-icon u-social-facebook u-social-icon u-text-custom-color-2 u-icon-1"><img
                src="images/3.png" alt=""></span>
        </a>
        <a class="u-social-url" title="twitter" target="_blank" href="https://twitter.com/s_radzyminski"><span
                class="u-file-icon u-icon u-social-icon u-social-twitter u-text-custom-color-2 u-icon-2"><img
                src="images/4.png" alt=""></span>
        </a>
        <a class="u-social-url" target="_blank" data-type="LinkedIn" title="LinkedIn"
           href="https://www.linkedin.com/in/slawekradzyminski/"><span
                class="u-file-icon u-icon u-social-icon u-social-linkedin u-text-custom-color-2 u-icon-3"><img
                src="images/5.png" alt=""></span>
        </a>
        <a class="u-social-url" target="_blank" data-type="Github" title="Github"
           href="https://github.com/slawekradzyminski"><span
                class="u-file-icon u-icon u-social-github u-social-icon u-text-custom-color-2 u-icon-4"><img
                src="images/6.png" alt=""></span>
        </a>
        <a class="u-social-url" data-type="Email" title="Email"
           href="mailto:slawomir.radzyminski.consulting@gmail.com"><span
                class="u-file-icon u-icon u-social-github u-social-icon u-text-custom-color-2 u-icon-4"><img
                src="images/1.png" alt=""></span>
        </a>
    </div>
    <div class="u-image u-logo u-image-1">
    </div>
    <h6 class="u-text u-text-1">
        <a class="u-active-none u-btn u-button-link u-button-style u-hover-feature u-hover-none u-none u-btn-1"
           href="regulamin.html" data-page-id="215542221">regulamin</a>
    </h6><h6 class="u-text u-text-2">
    <a class="u-active-none u-btn u-button-link u-button-style u-hover-feature u-hover-none u-none u-btn-2"
       href="polityka-prywatnosci.html" data-page-id="572926369">polityka prywatności</a>
</h6>
    <div class="u-border-1 u-border-custom-color-4 u-expanded-width u-line u-line-horizontal u-line-1"></div>
    <p class="u-small-text u-text u-text-default u-text-variant u-text-3"> &nbsp;<span
            class="u-file-icon u-icon u-text-custom-color-3 u-icon-5"><img src="images/8.png" alt=""></span>&nbsp;2022
        Sławomir Radzymiński Consulting
    </p>
</footer>